body {
    font-family: 'Arial', 'Helvetica', sans-serif;
}

#title {
    text-decoration: underline;
}

a {
    font-family: ;
    font-size: 20px;
    color: brown;
    text-decoration: none;
}

a:visited {
    color: brown

}